h1 {
    color: darkblue;
}

.main{
    display: flex;
}


#list{
    flex: 5;
    background-color: darkcyan;
    min-height: calc(100vh - 89px);
}

#form{
    flex: 3;
    background-color: darkgoldenrod;
    min-height: calc(100vh - 89px);
}

#form.control {
    margin-bottom: 12px;
}

.iImportant{
    font-size: 32px;
    cursor: pointer;
    
}

#form .control .fas {
    color: red;
}
#form .control .far {
    color:blue
}

.task-item {
    display: flex;
    border: 1px solid black;
    padding: 10 px;
    margin: 10px;
    border-radius: 5px;
}

.task-item .info-1 {
    flex: 3;
}

.task-item .info-2 {
    flex: 1;
}

.task-item .info-2 label {
    display: block;
}

.task-item .info-3 {
    flex: 1;
}

.task-item .info-3 label {
    display: block;
}